@media print {
  .isPrinting>* {
    display: none;
  }

  .isPrinting print {
    display: block;
  }
}

@media (min-width: $layout-breakpoint-xl) {}

@media (min-width: $layout-breakpoint-lg) {}

@media (max-width: $layout-breakpoint-lg) {
  .widget-container {
    flex-direction: column;

    .main-widgets {
      width: 100%;
    }

    .side-widgets {
      flex-direction: row;
      width: 100%;
      height: 33vh;
    }
  }

  .total-circle {
    .circle {
      width: 10vw;
    }
  }

  // .cs {
  //   flex-direction: column;
  //   justify-content: space-around;
  //   align-items: center;

  //   .cs-filters,
  //   .cs-grid {
  //     width: 94%;
  //     padding: 0;
  //   }

  //   .cs-filters {
  //     transition: all 75ms ease;
  //     // padding: 0;
  //     height: 150px;
  //     margin-right: 0em;
  //   }
  // }

  // .csf {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   margin-bottom: 0;
  //   padding: 0.5em;
  //   height: 100px;
  //   transition: all 75ms ease;

  //   .csf-inputs {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     flex-grow: 1;
  //   }

  //   .csf-input {
  //     width: 20%;
  //     margin: 0 2% 0.15em;
  //     margin-top: 0em;

  //     span {
  //       // font-size: 12px;
  //       // line-height: 16px;
  //       margin-bottom: 0;
  //     }
  //   }

  //   .csf-submit {
  //     vertical-align: bottom;
  //     width: 32px;
  //     margin-top: 0;
  //     border-radius: $border-radius;
  //     @include centered();

  //     .csf-submit-span {
  //       display: none;
  //     }
  //   }
  // }
}

@media (max-width: $layout-breakpoint-md) {
  .total-circle .circle {
    width: 25vw;
  }
}

@media (max-width: $layout-breakpoint-sm) {

  // .cs-filters {
  //   transition: all 75ms ease;
  //   height: 300px !important;
  //   margin-right: 0em;
  // }

  // .csf {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   border-radius: $border-radius;
  //   height: 260px;

  //   .csf-input {
  //     width: 100%;
  //     margin-bottom: 0em;

  //     span {
  //       margin-bottom: 0;
  //     }
  //   }

  //   .csf-submit {
  //     width: 100%;
  //     height: 33px;
  //     @include centered();

  //     .csf-submit-span {
  //       display: initial;
  //       margin-right: 0.15em;
  //     }
  //   }
  // }
}

@media (max-width: $layout-breakpoint-xs) {}
