<form class="search-form">
  <mat-form-field [classList]="classList">
    <mat-form-field >
      <input class="search" type="text" matInput [formControl]="input" [matAutocomplete]="auto">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (onSelectionChange)="onSuggestionSelect(suggestion)" *ngFor="let suggestion of suggestions" [value]="suggestion.location">
        {{ suggestion.address }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
