<div class="ml-2">
  <h2 class="common-header text-center">Attributes</h2>
<!--  <div class="divide-y divide-gray-300">-->
<!--    <div class="attributes-group">-->
<!--      <h3 class="common-header">Report Identifiers</h3>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Report Number:</span>-->
<!--        <span class="readonly-value">{{currentRecord.hsmvReportNumber}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Form Type:</span>-->
<!--        <span class="readonly-value">{{currentRecord.formType}}</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="attributes-group">-->
<!--      <h3 class="common-header">Editor/User</h3>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Last Update User:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Last Update Date:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Initial MapPoint User:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Initial MapPoint Date:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Quality Control User:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Quality Control Date:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="attributes-group">-->
<!--      <h3 class="common-header">Coordinates</h3>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Report X, Y:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Report Lat, Long:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Initial X, Y:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Initial X, Y Author:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Final X, Y:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Final X, Y Author:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="attributes-group">-->
<!--      <h3 class="common-header">LRS</h3>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">State-designated Route ID:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Roadway Identifier:</span>-->
<!--        <span class="readonly-value">{{currentRecord.roadwaySystemId}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Mile-point:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="attributes-group">-->
<!--      <h3 class="common-header">Calculated Totals</h3>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Fatalities:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Non-fatal Injuries:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Non-traffic Fatalities:</span>-->
<!--        <span class="readonly-value">{{noVal}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Pedestrians:</span>-->
<!--        <span class="readonly-value">{{currentRecord.pedestrianCount}}</span>-->
<!--      </div>-->

<!--      <div class="attributes-row">-->
<!--        <span class="common-label">Bicycles:</span>-->
<!--        <span class="readonly-value">{{currentRecord.bicyclistCount}}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</div>
