<div [formGroup]="form">
  <div class="input-container" *ngIf="controlModel.visible">
    <div class="label-container">
      <label [attr.for]="controlModel.key" class="common-label font-bold text-gray-500">{{controlModel.label}}</label>
    </div>
    <div class="full-width-input" [ngSwitch]="controlModel.controlType">
      <input *ngSwitchCase="'text'" [id]="controlModel.key" class="common-input" [value]="controlModel.value" [type]="controlModel.type" (change)="onValueChanged($event)">
      <input *ngSwitchCase="'number'" [id]="controlModel.key" class="common-input" [min]="controlModel.min" [max]="controlModel.max" [value]="controlModel.value" [type]="controlModel.type" (change)="onValueChanged($event)">
      <input *ngSwitchCase="'date'" [id]="controlModel.key" class="common-input" [value]="controlModel.value" [type]="controlModel.type" (change)="onValueChanged($event)">
      <select [id]="controlModel.key" *ngSwitchCase="'select'" class="common-input" (change)="onValueChanged($event)">
        <option></option>
        <option *ngFor="let opt of controlModel.options" [value]="opt.key" [selected]="opt.key == value">
          {{controlModel.keyValueOptions ? opt.key + ': ' + opt.value : opt.value}}
<!--          {{opt.key + ': ' + opt.value}}-->
        </option>
      </select>
      <select [id]="controlModel.key" *ngSwitchCase="'boolean-select'" class="common-input" (change)="onValueChanged($event)">
        <option *ngFor="let opt of [{value: 'Yes', key: true}, {value: 'No', key: false}]" [value]="opt.key" [selected]="opt.key == value">{{opt.value}}</option>
      </select>
    </div>
    <div class="label-container">
      <span class="common-label font-italic text-blue-800">{{controlModel.value}}</span>
    </div>
  </div>
</div>
