<div class="info-panel mb-10 bg-gray-200 py-5">
  <div>
  <!--  <div>-->
  <!--    <span class="common-label font-bold text-gray-500 m-5">Date: {{date}}</span>-->
  <!--  </div>-->
    <div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">City: {{city}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">County: {{county}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">Street: {{onStreet}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">Intersecting Street: {{intersectingStreet}}</span>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">Offset Distance: {{offsetDistance}} ft.</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-5">Direction: {{direction}}</span>
      </div>
    </div>
  </div>
</div>
