<div class="info-panel mb-3 bg-gray-200 py-2">
  <div>
  <!--  <div>-->
  <!--    <span class="common-label font-bold text-gray-500 m-5">Date: {{date}}</span>-->
  <!--  </div>-->
    <div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">City: {{city}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">County: {{county}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">Street: {{onStreet}}</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">Intersecting Street: {{intersectingStreet}}</span>
      </div>
    </div>
  </div>
  <div>
    <div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">Offset Distance: {{offsetDistance}} ft.</span>
      </div>
      <div>
        <span class="common-label font-bold text-gray-500 m-2">Direction: {{direction}}</span>
      </div>
    </div>
  </div>
</div>
