<div class="info-panel mb-10 bg-gray-200 py-5 grid grid-cols-2">
  <div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">City: {{city.toUpperCase()}}</span>
    </div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">County: {{county.toUpperCase()}}</span>
    </div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">Street: {{onStreet.toUpperCase()}}</span>
    </div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">Intersecting Street: {{intersectingStreet.toUpperCase()}}</span>
    </div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">Offset Distance: {{offsetDistance}} ft.</span>
    </div>
    <div>
      <span class="common-label font-bold text-gray-500 m-3">Direction: {{direction}}</span>
    </div>
  </div>
  <div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogCity}}</span>
    </div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogCounty}}</span>
    </div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogOnStreet}}</span>
    </div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogIntersectingStreet}}</span>
    </div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogOffsetDistance}} ft.</span>
    </div>
    <div>
      <span class="common-label text-green-500 m-3">{{ogDirection}}</span>
    </div>
  </div>
</div>
