<div class="form-row">
  <div class="input-container">
    <div class="label-container">
        <label [attr.for]="control.key" class="common-label font-bold text-gray-500">{{control.label}}</label>
      </div>
    <div class="full-width-input">
        <label [for]="control.key"></label><input [id]="control.key" class="common-input">
      </div>
    <div class="label-container">
        <span class="common-label font-italic text-blue-800">{{control.value}}</span>
      </div>
  </div>
</div>
