<fieldset class="form-group">
  <h6><b>{{groupLabel}}</b>
    <a *ngIf="hasHelp" href="javascript:void(0)" (click)="showHelp.emit()">
      <span class="fa fa-question-circle"></span>
    </a>
  </h6>
  <div class="form-check" [class.form-check-inline]="inline" *ngFor="let item of items">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" [name]="name" [checked]="isChecked(item)"
        (click)="toggle(item)" />
      <span title="{{getItemTooltip(item)}}" container="body" placement="right" (click)="toggle(item)">
        {{getItemLabel(item)}}
      </span>
    </label>
  </div>
</fieldset>
