  <div class="thumbnails-container d-flex flex-row">
    <div *ngIf="hasThumbnails" [@fadeIn]="hasThumbnails"
      class="hw100 d-flex flex-row align-items-center overflow-scroll-x">
      <thumbnail *ngFor="let template of thumbnails; let i = index" class="ml-1 mr-2" [key]="template"
        [category]="category" [selected]="selected" [@slideInR]="{value: '', params: {delay: enterDelay(i)}}"
        (select)="onSelect($event)">
        <report [type]="template" wrapper="thumb"></report>
      </thumbnail>
    </div>
  </div>
