// * CATEGORY BAR * NAVIGATION * BOTTOM BAR

@mixin theme($palette) {
  @if $palette=='dark' {
    background: $primary-d;

    .category {


      .cat-option {
        border: 1px solid $primary-l;

        svg,
        i {
          color: $on-primary !important;
          stroke: $on-primary !important;
          fill: $on-primary !important;
        }
      }

      .cat-label {
        color: $on-primary !important;
      }
    }
  }

  @if $palette=='light' {
    background: $bg;

    .category {
      .cat-option {
        background: $surface;
        border: 1px solid $on-surface;

        svg,
        i {
          color: $on-surface !important;
          stroke: $on-surface !important;
          fill: $on-surface !important;
        }
      }

      .cat-label {
        color: $on-surface !important;
      }
    }
  }
}

@mixin selected() {
  .category {
    opacity: 1 !important;

    &:hover {
      opacity: 1 !important;
    }

    .cat-option {
      background: $secondary;
      box-shadow: $box-shadow-main;
      border: 1px solid $on-secondary;

      svg,
      i {
        color: $on-secondary !important;
        stroke: $on-secondary !important;
        fill: $on-secondary !important;
      }
    }
  }
}

.category-bar {
  height: $navigation-height;
  white-space: nowrap;
  overflow: visible;
  flex-wrap: nowrap;

  &.light-theme {
    @include theme('light');
  }

  &.dark-theme {
    @include theme('dark');
  }

  .category {
    opacity: $opacity-mid;

    .cat-option {

      svg,
      i {
        width: 25px !important;
        height: 25px !important;
      }
    }
  }

  .selected {
    @include selected();
  }

  &.active {
    .category:hover {
      opacity: $opacity-high;
    }

    .selected {
      @include selected();
    }
  }
}

// /* ensure that the top menu doesn't get covered by anything else */
.s4-navbar {
  z-index: 1030;
  height: 56px;
  width: 100%;
}

.bottom-bar {
  height: $bottomBarHeight !important;
  min-height: $bottomBarHeight !important;
  margin-top: 5px;
  width: 100%;
}


/* hide file name in element work around to get ride of the filename */
.rpt-nbr-input {
  color: $light;
}

.progress-bar {
  height: 60px;
}

.export-progressbar {
  height: 30px
}
