.popup-content {
    max-width: 50vw;

    .popup-body {
        margin: .25em;

        * {
            font-family: $font-serif;
        }

        .font-heading {
            font-family: $font-heading !important;
        }

        // ul,
        // li {
        //     list-style-type: none;
        //     padding-top: 0;
        //     padding-bottom: 0;
        // }

        // ul {
        //     padding-inline-start: 1em;
        // }

        // li {
        //     margin-bottom: .15em;
        // }
    }


}

.dropdownPopup {
    max-width: 100%;
    background: lighten($color: $primary, $amount: 5%);
    color: $light;
    font-size: calc(7px + 0.44vw);

}
