<div>
  <button (click)="onClick('SEGMENT')" style="background-image: url('assets/map/mode-buttons/segment.png'); background-repeat:no-repeat;" class="mode segment"></button>
  <button (click)="onClick('RAMP')" style="background-image: url('assets/map/mode-buttons/ramp.png'); background-repeat:no-repeat;" class="mode ramp"></button>
  <button (click)="onClick('INTERSECTION')" style="background-image: url('assets/map/mode-buttons/intersection.png'); background-repeat:no-repeat;" class="mode intersection"></button>
  <button (click)="onClick('OFFROADWAY')" style="background-image: url('assets/map/mode-buttons/offroadway.png'); background-repeat:no-repeat;" class="mode off-roadway"></button>
</div>
