<ng-template [ngIf]="type === 'overlay'">


  <div *ngIf="show" [@fadeIn] [@fadeOut] class="loader-overlay">
    <div
      class="loader-wrapper mt-5 py-5 px-3 d-flex flex-column  align-items-center justify-content-around rounded-edges">
      <div class="font-heading bold txt2">Sit tight...</div>
      <div class="loader"></div>
      <div class="txt4">
        Gathering your data
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="type === 'embedded'" class="loader-embedded">
  <div class="loader">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
