<nav *ngIf="isReady" [@bounceInDown]="isReady"
    class="s4-navbar navbar-expand-md bg box-shadow-std sticky-top d-flex flex-row justify-content-between align-items-center px-1">
    <div class="d-flex flex-row align-items-center w25">
        <div *ngIf="isAuthenticated" [@delayedSlideInLeft] [@fadeOutOnExit]>
            <button *ngIf="!isSideMenuOpen" class="s4-btn sideMenuButton box-shadow-flat"
                (click)="isSideMenuOpen = true">
                <i class="far fa-bars txt-helper hover-clr-secondary"></i>
            </button>
            <button *ngIf="isSideMenuOpen" class="s4-btn sideMenuButton box-shadow-flat"
                (click)="isSideMenuOpen = false">
                <i class="fal fa-times txt-helper hover-clr-secondary"></i>
            </button>
        </div>
        <div *ngIf="isReady" [@delayedFadeInOnEnter] class="all-transitions-300 pos-rel ml-2">
            <s4-logo class="transition-std cursor-pointer" logoStyle="banner" color="dark" width="176px" height="50px"
                (click)="popup.toggleOpen()">
            </s4-logo>
            <s4-popup #popup key="about" [anchorAlign]="{ horizontal: 'right', vertical: 'bottom' }"
                [popupAlign]="{ horizontal: 'left', vertical: 'top' }" [popupMargin]="{horizontal:0, vertical: 20}"
                [hasIcon]="false">
            </s4-popup>
        </div>
    </div>
    <div class="centered w50">
        <span *ngIf="windowWidth >= 900" class="font-main on-bg" style="font-size: calc(10px + 0.8vw)">
            {{ pageTitle | uppercase}}
        </span>
    </div>

    <div class="w25 d-flex justify-content-end align-items-center">
        <a *ngIf="currentPage === 'dashboard'" [@flipIn] [@flipOut] href="https://www.fdot.gov/safety/shsp/shsp.shtm"
            target="_blank"><img style="width: 120px; height: 40x; margin-right: 1em"
                src="assets/images/Driving-Down-Fatalities.png" alt="driving down fatalities"></a>
        <s4-icon *ngIf="isReady" [@flipIn] [@flipOut] icon="user-circle"
            cssClass="opacity-mid on-bg hover-fill highlight-clr-secondary centered fa-2x cursor-pointer mr-2"
            faStyle="fal" (click)="handleUserMenu()">
        </s4-icon>
    </div>

</nav>

<div *ngIf="isSideMenuOpen" [@overlayIn] [@overlayOut] class="pos-abs hw100 pointer-events-auto overlay">
    <div class="hw100 primary opacity-mid"></div>
</div>
<div *ngIf="isSideMenuOpen" [@slideLeftEnter] [@slideLeftExit] awaitsClickOutside="side-menu"
    (clickOutside)="isSideMenuOpen = false" class="side-menu d-flex flex-column font-heading py-2">
    <div *ngFor="let link of navigationLinks; let i = index;"
        [@fadeInLink]="{value: '', params: {delay: enterDelay(i)}}" class="link txt4 pl-4 py-2 my-1 cursor-pointer"
        (click)="goToPage(link.url, link.page)">
        <div class="d-flex flex-row align-items-center">
            <div class="w15">
                <i [class]="'fas opacity-high ' + link.icon"></i>
            </div>
            <div class="w85">
                <span>{{link.name}}</span>
            </div>
        </div>
    </div>
</div>
<user-menu *ngIf="isUserMenuOpen" [@fadeInOnEnter] [@fadeOutOnExit]
    class="s4-menu user-menu rounded-edges box-shadow-raised mr-4" (handleUserMenu)="handleUserMenu($event)">
</user-menu>
