<div *ngIf="input && isReady" [class]="wrapperClassList">
    <div *ngIf="label && required" [class]="labelClassList" title="Required">{{input.label}}</div>
    <div *ngIf="label && !required" [class]="labelClassList">{{input.label}}</div>


    <ng-template [ngIf]="type === 'dropdown'">
        <kendo-dropdownlist #dropdown [class]="inputClassList" [data]="input.data" [filterable]="true"
            [popupSettings]="{popupClass: 'dropdownPopup' }" spellcheck="false" [(ngModel)]="value"
            (filterChange)="onFilterChange($event)" (valueChange)="onInputValueChange($event)" [disabled]="isDisabled">
        </kendo-dropdownlist>
    </ng-template>

    <ng-template [ngIf]="type === 'combobox'">
        <kendo-combobox #combobox (focus)="onFocus(combobox)" (blur)="onBlur()" [class]="inputClassList"
            [data]="input.data" [placeholder]="input.placeholder" [popupSettings]="{popupClass: 'dropdownPopup' }"
            [filterable]="true" (filterChange)="onFilterChange($event)"
            (valueChange)="onInputValueChange($event, combobox)" valueField="key" textField="name" [(ngModel)]="value"
            spellcheck="false" [disabled]="isDisabled">
        </kendo-combobox>
    </ng-template>

    <ng-template [ngIf]="type ==='multiselect'">
        <kendo-multiselect #multiselect (focus)="onFocus(multiselect)" (blur)="onBlur()" [class]="inputClassList"
            [data]="input.data" [placeholder]="input.placeholder" [popupSettings]="{popupClass: 'dropdownPopup' }"
            [(ngModel)]="value" [filterable]="true" (filterChange)="onFilterChange($event)"
            (valueChange)="onInputValueChange($event)" valueField="key" textField="name" spellcheck="false" [disabled]="isDisabled">
        </kendo-multiselect>
    </ng-template>

    <ng-template [ngIf]="type ==='autocomplete'">
        <kendo-autocomplete #autocomplete (blur)="onBlur()" (focus)="onFocus(autocomplete)" [class]="inputClassList"
            [data]="input.data" [placeholder]="input.placeholder" [popupSettings]="{popupClass: 'dropdownPopup' }"
            [(ngModel)]="value" [filterable]="true" (filterChange)="onFilterChange($event, autocomplete)"
            (valueChange)="onAutoCompleteValueChange($event, autocomplete)" valueField="name" spellcheck="false" [disabled]="isDisabled">
        </kendo-autocomplete>
    </ng-template>

    <ng-template [ngIf]="type === 'categorical'">
        <div class="d-flex flex-row">
            <!-- <kendo-dropdownlist [class]="inputClassList" [data]="input.categories"
        [popupSettings]="{popupClass: 'dropdownPopup categorical' }" spellcheck="false"
        (valueChange)="onCategoryChange($event)" valueField="key" textField="name" [(ngModel)]="input.category">
      </kendo-dropdownlist> -->
            <kendo-combobox #categoryCombobox (focus)="onFocus(categoryCombobox)" (blur)="onBlur()"
                [class]="inputClassList" [data]="input.data" [placeholder]="input.placeholder"
                [popupSettings]="{popupClass: 'dropdownPopup' }" [filterable]="true"
                (filterChange)="onFilterChange($event, categoryCombobox)"
                (valueChange)="onCategorySelect($event, categoryCombobox)" valueField="name" textField="name"
                [(ngModel)]="value" spellcheck="false" [disabled]="isDisabled">
            </kendo-combobox>
            <!--
            <kendo-autocomplete #categoryAutocomplete (blur)="onBlur()" (focus)="onFocus(categoryAutocomplete)"
                [class]="inputClassList" [data]="input.data" [placeholder]="input.placeholder"
                [popupSettings]="{popupClass: 'dropdownPopup' }" [filterable]="true"
                (filterChange)="onFilterChange($event, categoryAutocomplete)" valueField="name" spellcheck="false"
                (valueChange)="onCategorySelect($event, categoryAutocomplete)"> -->
            <!-- <ng-template kendoAutoCompleteItemTemplate let-dataItem>
          <span><span>{{dataItem.name}}</span>
            <span *ngIf="showCatKey(dataItem.key)" class="ml-1 $opacity-mid">
              {{dataItem.key | titlecase}}
            </span></span>
        </ng-template> -->
            <!-- </kendo-autocomplete> -->
        </div>
    </ng-template>

</div>
