<div class="w-full p-2">
  <dgt-crash-info-panel></dgt-crash-info-panel>
  <dgt-dot-property></dgt-dot-property>
  <dgt-site-location></dgt-site-location>
  <dgt-road-system-id></dgt-road-system-id>
  <dgt-crash-injury></dgt-crash-injury>
  <dgt-on-public-roads></dgt-on-public-roads>
  <dgt-side-of-road></dgt-side-of-road>
  <dgt-crash-lane></dgt-crash-lane>
  <dgt-number-of-lanes></dgt-number-of-lanes>
  <dgt-ownership></dgt-ownership>
  <dgt-route-signage></dgt-route-signage>
  <dgt-posted-speed-limit></dgt-posted-speed-limit>
  <dgt-functional-class></dgt-functional-class>
  <dgt-bicyclist-count></dgt-bicyclist-count>
  <dgt-pedestrian-count></dgt-pedestrian-count>
</div>
