<div class="flex">
  <div class="inline-block flex-1">
    <span class="common-label mt-2">Dade N-Fatal</span>
  </div>
  <div class="flex flex-wrap">
    <div class="md:w-1/4">
      <button class="go-back" (click)="goBack()">Go Back</button>
    </div>
    <div class="md:w-2/4">
      <button class="give-up" (click)="giveUp()">Give Up</button>
      <button class="skip" (click)="skip()">Skip</button>
    </div>
    <div class="md:w-1/4">
      <button class="save">Save</button>
    </div>
  </div>
  <div class="inline-block flex-1">
    <button class="end-session float-right">End Session</button>
  </div>
</div>
