<div class="pos-rel hw100 d-flex flex-column justify-content-between">
  <div id="title-bar-container" class="w-screen p-1 sticky top-0 bg-gray-100">
    <dgt-title-bar></dgt-title-bar>
  </div>
  <div class="view h">
    <div class="pos-rel h100 w60">
      <dgt-map *ngIf="isLoaded"></dgt-map>
    </div>
    <div id="crash-event-record-container" class="ml-1 w40">
      <dgt-crash-event-record></dgt-crash-event-record>
    </div>
  </div>
  <div id="buttons-bar-container" class="w-screen sticky bottom-0 p-2 bg-gray-100 divide-y divide-gray-300">
    <dgt-buttons-bar></dgt-buttons-bar>
  </div>
</div>
<dgt-loading-overlay></dgt-loading-overlay>
